<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <section class="header">
        <nav class="navbar">
            <a class="navbar-brand" href="#">
                <img src="../static/assets/Citi.png" width="100" alt="">
            </a>
        </nav>
    </section>
    <section class="banner">
        <div class="row">
            <div class="col-md-6 p-5">
                <h1>
                    <span>Now we can read your handwriting </span>
                    from cheque’s and documents.
                </h1>
                <p>
                    Quickly capture all your handwritten ideas and notes with Citi bank’s built-in camera on Android and Apple devices.
                </p>
            </div>
            <div class="col-md-6 p-5">
                <img src="../static/assets/bank.svg" width="100%" />
            </div>
        </div>
    </section>
    <section class="submit pb-5">
        <!-- <h1>Upload new File</h1> -->
        <div class="container">
            <div class="submit-box">
                <form method=post enctype=multipart/form-data>
                    <input type=file name=file>
                    <input type=submit value=Upload>
                </form>
            </div>
        </div>
    </section>
    <section class="how">
        <div class="container">
            <div class="row">
                <div class="col-md-6 p-5">
                    <img src="../static/assets/card.png" width="100%"/>
                </div>
                <div class="col-md-6 p-5">
                    <p>
                        How to scan your cheque to extract text:
                    </p>
                    <ol>
                        <li>
                            Upload your file to our online cheque dropbox.
                        </li>
                        <li>
                            Our AI will instantly start the extraction process.
                        </li>
                        <li>
                            OCR will activate if you upload a scanned document.
                        </li>
                        <li>
                            Wait for the converter to finish and download your scanned file.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="last">
        <div class="container">
            <div class="row">
                <div class="col-md-6 p-5">
                    <p>
                        Combine distraction-free, natural handwriting from cheque’s with the power of Citi bank’s sync and search award winning feature.
                    </p>
                    <p>
                        Our AI can identify 28 typewritten and 11 handwritten languages. You can also choose which language is used by changing the Recognition Language setting.
                    </p>
                </div>
                <div class="col-md-6 p-5">
                    <img src="../static/assets/last.png" width="100%" />
                </div>
            </div>
        </div>
    </section>
</body>
</html>